<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <style class="message">
    </style>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu"class="form-control"
              type="text"
              ng-model="list"
              placeholder="list comma separated dishes you would prefer to have for lunch"
              ng-style="boxStyle">
             <span>Note: Empty items will not be considered, Ex: [, , , , , ] will prompt you to enter the data </span>
         </div>
         <div ng-style ="fontStyle">
           {{msg}}
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkItems()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
         </div>
   </div>
</body>
</html>
